<div class="container">
    <main role="main" class="pb-1">
        <h1>Register</h1>
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)" autocomplete="off" novalidate> 
                    <h4>Create a new account.</h4>
                    <hr>
                    <div class="form-group" [ngClass]="{'error': !validateUserName()}">
                        <label>Email</label>
                        <em *ngIf="!validateUserName() && signupForm.controls.userName.errors?.required">Required</em>
                        <em *ngIf="!validateUserName() && signupForm.controls.userName.errors?.pattern">Must start with a</em>
                        <input formControlName="userName" name="userName" class="form-control"  type="email" placeholder="Email">
                        
                    </div>
                    <div class="form-group" [ngClass]="{'error': !validatePassword()}">
                        <label>Password</label>
                        <em *ngIf="!validatePassword()">Required</em>
                        <input formControlName="password" name="password" class="form-control" autocomplete="new-password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group" [ngClass]="{'error': !validateConfirmPassword()}">
                        <label>Confirm password</label>
                        <em *ngIf="!validateConfirmPassword() && signupForm.controls.confirmPassword.errors?.required">Required</em>
                        <em *ngIf="!validateConfirmPassword() && signupForm.controls.confirmPassword.errors?.matching">Confirm Password does not match</em>
                        <input formControlName="confirmPassword" name="confirmPassword" class="form-control" autocomplete="new-password" type="password" placeholder="Confirm password">
                    </div>
                    <button id="registerSubmit" type="submit" class="btn btn-primary mt-2">Register</button>
                </form>
            </div>
        </div>
    </main>
</div>
