<div class="container">
    <main role="main" class="pb-1">
        <h1>Register</h1>
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="signupForm" (ngSubmit)="signUp(signupForm.value)" autocomplete="off" novalidate> 
                    <h4>Create a new account.</h4>
                    <hr>
                    <div class="form-group" [ngClass]="{'error': !validateUsername()}">
                        <label>Username</label>
                        <em *ngIf="!validateUsername() && signupForm.controls.username.errors?.required">Required</em>
                        <em *ngIf="!validateUsername() && signupForm.controls.username.errors?.minlength">Password must be at least 1 character</em>
                        <em *ngIf="!validateUsername() && signupForm.controls.username.errors?.maxlength">Password must not exceed 10 characters</em>
                        <input formControlName="username" name="username" class="form-control"  type="text" placeholder="Username">
                        
                    </div>
                    <div class="form-group" [ngClass]="{'error': !validatePassword()}">
                        <label>Password</label>
                        <em *ngIf="!validatePassword() && signupForm.controls.password.errors?.required">Required</em>
                        <em *ngIf="!validatePassword() && signupForm.controls.password.errors?.minlength">Password must be at least 6 characters</em>
                        <em *ngIf="!validatePassword() && signupForm.controls.password.errors?.maxlength">Password must not exceed 20 characters</em>
                        <input formControlName="password" name="password" class="form-control" autocomplete="new-password" type="password" placeholder="Password">
                    </div>
                    <div class="form-group" [ngClass]="{'error': !validateConfirmPassword()}">
                        <label>Confirm password</label>
                        <em *ngIf="!validateConfirmPassword() && signupForm.controls.confirmPassword.errors?.required">Required</em>
                        <em *ngIf="!validateConfirmPassword() && signupForm.controls.confirmPassword.errors?.matching">Confirm password does not match</em>
                        <input formControlName="confirmPassword" name="confirmPassword" class="form-control" autocomplete="new-password" type="password" placeholder="Confirm password">
                    </div>
                    <span (mouseenter)="mouseoverSignup=true" (mouseleave)="mouseoverSignup=false">
                        <button [disabled]="signupForm.invalid"  id="signupSubmit" type="submit" class="btn btn-primary mt-2">Sign up</button>
                    </span>
                </form>
            </div>
        </div>
    </main>
</div>
