<nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        
        <li *ngIf="(this.authService.isAuthenticated())" class="nav-item">
            <a id="chat" [routerLink]='["/chat"]' class="nav-link link-dark px-2">Chat</a>
        </li>
      </ul>
        <ul class="nav" *ngIf="!(this.authService.isAuthenticated())">
          <li class="nav-item">
            <a [routerLink]='["/authentification/login"]' id="login" class="nav-link link-dark px-2">Login</a>
          </li>
          <li class="nav-item">
              <a [routerLink]='["/authentification/signup"]' id="sign-up" class="nav-link link-dark px-2">Sign up</a>
          </li>
        </ul>
          
          <ul class="nav" *ngIf="(this.authService.isAuthenticated())">
            <li class="nav-item">
              <a id="userName" class="nav-link link-dark px-2">Hello {{this.username}}</a>
            </li>
            <li class="nav-item">
              <a [routerLink]='["/authentification/logout"]' id="logout" class="nav-link link-dark px-2">Logout</a>
            </li>
          </ul>
    </div>
  </nav>