<div  id="messages-div" class="messages" #scrollMe>
    <div *ngFor='let msg of messages'>
      <div *ngIf="msg.sender !== currentUsername" class="d-flex flex-row p-3">
        <div class="message-bubble-other ml-2 p-3">
          <div class="username">
            {{msg.sender}}
          </div>
          <div class="message">
            {{msg.content}}
          </div>
        </div>
      </div>
      <div *ngIf="msg.sender === currentUsername" class="d-flex flex-row-reverse p-3">
        <div class="message-bubble-me mr-2 p-3">
          <div class="username">
            {{msg.sender}}
          </div>
          <div class="message">
            {{msg.content}}
          </div>
        </div>
      </div>
    </div>
  </div>
  