<div class="container d-flex justify-content-center">
    <div class="card mt-5">
      <div class="d-flex flex-row justify-content-between p-3 card-header text-white">
        <i class="fas fa-chevron-left"></i>
        <span class="pb-3">Lucca Chat</span>
        <i class="fas fa-times"></i>
      </div>
      <div *ngIf="this.username">
        <app-chat-messages [currentUsername]="this.username">
        </app-chat-messages>
      </div>
      <form  [formGroup]="sendMessageForm" (ngSubmit)="sendMessage(sendMessageForm.value)" autocomplete="off" novalidate>
        <div class="form-group px-3 py-3">
          <div class="d-flex">
            <div class="d-flex flex-row">
              <div class="pt-1 pr-3 pr-4">
                <textarea class="form-control" placeholder="Write a message!" formControlName="message"></textarea>
              </div>
              <div class="p-3">
                <span>
                  <button [disabled]="sendMessageForm.invalid" class="btn btn-primary" type="submit" >Send</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>